<div class='wrapper'>
    <div id="top">
        @Html.Partial("_Head")
        <div id="main">
            <div id="content">
                <div class='entry'>
                    <div class="box box_small box1">
                        <a href="@Url.Content("~/Content/images/command-history.jpg")" rel='prettyPhoto[portfolio]'>
                            <img src="@Url.Content("~/Content/images/medium-command-history.png")" alt="" /></a>
                        <h3>
                            <a href="@Url.Content("~/Content/images/command-history.jpg")">Command History Search</a></h3>
                        <p>
                            Wish command history searches filter as you type the command. Traditional up and
                            down arrow command history searching is also supported.
                        </p>
                    </div>
                    <!-- end .box -->
                    @*                        <div class="box box_small box2">
                            <a href="http://vimeo.com/moogaloop.swf?width=800&amp;height=450&amp;flashvars=clip_id=1084537&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1"
                                rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium12.jpg")" alt="" /></a>
                            <h3>
                                <a href="@Url.Action("Single", "Preview")">Video: Big Buck Bunny</a></h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. <a class="more-link" href="@Url.Action("Single", "Preview")">Read more</a>
                            </p>
                        </div>*@
                    <!-- end .box -->
                    <div class="box box_small box2">
                        <a href="@Url.Content("~/Content/images/split-pane.jpg")" rel='prettyPhoto[portfolio]'>
                            <img src="@Url.Content("~/Content/images/medium-split-pane.PNG")" alt="" /></a>
                        <h3>
                            <a href="@Url.Content("~/Content/images/split-pane.jpg")">Split Window Panes</a></h3>
                        <p>
                            Split windows in Wish make it easy to manage multiple command line instances in
                            a single view.
                        </p>
                    </div>
                    <!-- end .box -->
                    <div class="box box_small box3">
                        <a href="@Url.Content("~/Content/images/tab-complete.jpg")" rel='prettyPhoto[portfolio]'>
                            <img src="@Url.Content("~/Content/images/medium-completion.png")" alt="" /></a>
                        <h3>
                            <a href="@Url.Content("~/Content/images/tab-complete.jpg")">Advanced Tab Completion</a></h3>
                        <p>
                            Wish tab completion is more powerful and intuitive than has ever been available
                            in a shell.
                        </p>
                    </div>
                    <!-- end .box -->
                </div>
                <!-- end entry -->
                <div class='entry'>
                    <div class="box box_small box1">
                        <a href="@Url.Content("~/Content/images/tabs-panes-cropped.jpg")" rel='prettyPhoto[portfolio]'>
                            <img src="@Url.Content("~/Content/images/medium-tabs.PNG")" alt="" /></a>
                        <h3>
                            <a href="@Url.Content("~/Content/images/tabs-panes-cropped.jpg")">Multiple Tabs</a></h3>
                        <p>
                            Realize the full potential of Wish with a mixture of split windows and tabs. Access
                            a variety of command line instances within a single window.
                        </p>
                    </div>
                    <div class="box box_small box2">
                        <a href="@Url.Content("~/Content/images/Capture.jpg")" rel='prettyPhoto[portfolio]'>
                            <img src="@Url.Content("~/Content/images/medium-Capture.jpg")" alt="" /></a>
                        <h3>
                            <a href="@Url.Content("~/Content/images/Capture.jpg")">Syntax Highlighting</a></h3>
                        <p>
                            Wish features command line syntax highlighting previously never available in a Windows
                            command line interface.
                        </p>
                    </div>
                    <!--end .box -->
                </div>
                <!--end entry-->
                @*                    <div class="pagination">
                        <span class="current">1</span> <a class="inactive" href="#">2</a> <a class="inactive"
                            href="#">3</a> <a class="inactive" href="#">4</a> <a class="inactive" href="#">5</a>
                        <a class="inactive" href="#">6</a> <a class="inactive" href="#">7</a>
                    </div>*@
            </div>
            <!-- end content -->
        </div>
        <!--end main-->
    </div>
    <!-- end #top -->
</div>
