@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*/Portfolio/Videos*@
<body id='subpage' class='fullwidth'>
    <div class='wrapper'>
        <div id="top">
            @Html.Partial("_Head")
            <div id="main">
                <div id="content">
                    <h2>Coming Soon!!</h2>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                        @*                        <div class="box box_small box2">
                            <a href="http://vimeo.com/moogaloop.swf?width=800&amp;height=450&amp;flashvars=clip_id=1084537&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1"
                                rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium12.jpg")" alt="" /></a>
                            <h3>
                                <a href="@Url.Action("Single", "Preview")">Video: Big Buck Bunny</a></h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. <a class="more-link" href="@Url.Action("Single", "Preview")">Read more</a>
                            </p>
                        </div>*@
                </div>
                <!-- end content -->
            </div>
            <!--end main-->
        </div>
        <!-- end #top -->
    </div>
    @Html.Partial("_Footer")
</body>
<script type="text/javascript">
    $('#portfolio').addClass("current");
</script>
