@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*/Home/Index*@

<body id='frontpage'>
    <div class='wrapper'>
        <div id="top">
            @Html.Partial("_Head")
            <div id="featured">
                <div id="featured_image">
                    <img src="@Url.Content("~/Content/images/split-pane.png")" alt="" class='current_img' />
                    <img src="@Url.Content("~/Content/images/tab-complete.png")" alt="" />
                </div>
                <!--end featured_image-->
            </div>
            <!--end featured-->
            <div id="infotext">
                <h2>
                    This is <strong>display</strong>, a unique Themeforest template for showcasing
                    your work and perfect for any business in need of a stunning website...</h2>
            </div>
            <!--end infotext-->
            <div id="main">
                <div class="box box_small box1">
                    <img src="@Url.Content("~/Content/images/medium1.jpg")" alt="" />
                    <h3>
                        Navigation</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco <a href=''>laboris nisi</a> ut aliquip ex ea commodo conse.
                        quat. <a class="more-link" href="page.html">Read more</a>
                    </p>
                </div>
                <!-- end .box -->
                <div class="box box_small box2">
                    <img src="@Url.Content("~/Content/images/medium-tabs.png")" alt="" />
                    <h3>
                        Tabs and Docking</h3>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <strong>dolore
                            eu fugiat</strong> nulla pariatur.<br />
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. <a class="more-link" href="page.html">Read more</a>
                    </p>
                </div>
                <!-- end .box -->
                <div class="box box_small box3">
                    <img src="@Url.Content("~/Content/images/medium-completion.png")" alt="" />
                    <h3>
                        Superior Tab Completion</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo conse. quat. <a class="more-link"
                            href="page.html">Read more</a>
                    </p>
                </div>
                <!-- end .box -->
            </div>
            <!--end main-->
        </div>
        <!-- end #top -->
    </div>
    <!-- end #wrapper -->
@Html.Partial("_Footer")
</body>
<script type="text/javascript">
    $("#home").addClass("current");
</script>