@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*/Home/Index*@
<body id='frontpage'>
    <div class='wrapper'>
        <div id="top">
            @Html.Partial("_Head")
            <div id="featured">
                <div id="featured_image">
                    <img src="@Url.Content("~/Content/images/split-pane.png")" alt="" class='current_img' />
                    <img src="@Url.Content("~/Content/images/tab-complete.png")" alt="" />
                </div>
                <!--end featured_image-->
            </div>
            <!--end featured-->
            <div id="infotext">
                <h2>
                    Request an invite</h2>
                <h4>
                    We're still in private beta. Please give us your email to be invited soon.</h4>
                <form action="" method="post">
                <fieldset>
                    <div class="clearfix" id="regdiv">
                        <label for="email">
                            Email</label>
                        <div class="input">
                            <input class="xlarge" id="register" name="email" size="30" type="text" />
                            <span class="help-inline">Email is Required</span>
                        </div>
                        <div id="regbutton">
                            <input type="submit" class="btn primary" id="contact-submit" value="Register" />
                        </div>
                    </div>
                </fieldset>
                </form>
                @*                <h2>
                    This is <strong>display</strong>, a unique Themeforest template for showcasing
                    your work and perfect for any business in need of a stunning website...</h2>*@
            </div>
            <div class="hidden" id="boxes">
                <div style="top: 199.5px; left: 551.5px; display: none;" id="dialog" class="window">
                    @*<div id="description" class="coming">*@
                    <h3 id="header_text">
                    </h3>
                    <p id="paragraph_text">
                    </p>
                    <p>
                        To share with your friends:</p>
                    <div id="sharebuttons">
                        <div class="tweet_to_action" id="tweet_to_action" onclick="window.open('http://www.wil.lt/willet?ca_id=7e2009c2a6714bda','popup','width=550,height=260,scrollbars=no,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0'); button_clicked();">
                            <div class="title" id="title">
                                Get 15% Off!!
                            </div>
                            <div class="subtitle" id="subtitle">
                                by sharing your love</div>
                            <div id="button_bird" class="bird">
                            </div>
                        </div>
                        <div id="exitoptions">
                            <a id="nothanks" href="">No Thanks. Just register me!</a>
                        </div>
                    </div>
                </div>
                <!-- <a class="cs_import">Email To Friends</a>-->
            </div>
            <!--end infotext-->
            <div id="main">
                <div class="box box_small box1">
                    <img src="@Url.Content("~/Content/images/medium1.jpg")" alt="" />
                    <h3>
                        Navigation</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco <a href=''>laboris nisi</a> ut aliquip ex ea commodo conse.
                        quat. <a class="more-link" href="page.html">Read more</a>
                    </p>
                </div>
                <!-- end .box -->
                <div class="box box_small box2">
                    <img src="@Url.Content("~/Content/images/medium-tabs.png")" alt="" />
                    <h3>
                        Tabs and Docking</h3>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <strong>dolore
                            eu fugiat</strong> nulla pariatur.<br />
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. <a class="more-link" href="page.html">Read more</a>
                    </p>
                </div>
                <!-- end .box -->
                <div class="box box_small box3">
                    <img src="@Url.Content("~/Content/images/medium-completion.png")" alt="" />
                    <h3>
                        Superior Tab Completion</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo conse. quat. <a class="more-link"
                            href="page.html">Read more</a>
                    </p>
                </div>
                <!-- end .box -->
            </div>
            <!--end main-->
        </div>
        <!-- end #top -->
        <div style="width: 1478px; height: 602px; display: none; opacity: 0.8;" id="mask">
        </div>
    </div>
    <!-- end #wrapper -->
    @Html.Partial("_Footer")
</body>
<script type="text/javascript">
    $("#home").addClass("current");
</script>
@*<script src="@Url.Content("~/Scripts/contact.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/popup.js")" type="text/javascript"></script>
<script type="text/javascript">
    button_clicked = function () {
        var t, st, tta;
        t = document.getElementById('title');
        t.innerHTML = "Thanks!";
        t.className = "title used";
        st = document.getElementById('subtitle');
        st.innerHTML = "We really appreciate your support!";
        st.className = "subtitle used";
        tta = document.getElementById('tweet_to_action');
        tta.className = "tweet_to_action used";
        tta.onclick = "";
        var email = $("#register").val();
        var url = "Blog/Registered/" + email + "/true";
        $.post(url, function (data) {
            if (data) {
                window.location.href = "Blog/Registered";
            }
        });
    }
</script>
<script type="text/javascript">
    $('#nothanks').click(function (e) {
        e.preventDefault();
        var email = $("#register").val();
        var url = "Blog/Registered/" + email + "/false";
        $.post(url, function (data) {
            if (data) {
                window.location.href = "Blog/Registered";
            }
        });
    });
</script>
