@model IEnumerable<Display.Models.Post>

@foreach (var post in Model)
{
    <div class='entry blogentry'>
        <div class="date">
            <span class='day'>@post.Day</span> <span class='month'>@post.Month</span> <span class='year'>@post.Year</span>
        </div> <!-- end date -->
        <h2>
            @Html.ActionLink(@post.Title, @post.Url)</h2>
            @Html.Partial("_Tags", post.Tags)
            @{
                   var summary = @post.Summary;
                   var sumHtml = summary.Replace("\r\n", "<br />");
                   sumHtml += "  ";
                   @Html.Raw(sumHtml)
                   if (post.More)
                   {
                       <br />
                       @Html.ActionLink("Read More..", @post.Url)
                   }
            }
    </div><!--end entry-->
}