@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*/Blog/Index*@

<body id='subpage'>
    <div class='wrapper'>
        <div id="top">
            @Html.Partial("_Head")
            <div id="main">
                @Html.Partial("_Sidebar")
                <div id="content">
                    <div class='entry blogentry'>
                        <div class="date">
                            <span class='day'>09</span> <span class='month'>Aug</span> <span class='year'>2009</span>
                        </div>
                        <!-- end date -->
                        <h2>
                            <a href="@Url.Action("Single", "Blog")">Amanded with Adobe Flash</a></h2>
                        <div class='post_data'>
                            <span class='categories'><a href="@Url.Action("Archive", "Blog")">Design News</a>, <a href='#'>Public
                                Interest</a></span> <span class='author'>posted by <a href="@Url.Action("Archive", "Blog")">Kriesi</a></span>
                        </div>
                        <!--end post data-->
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim
                            id est laborum.
                            <br />
                            Allamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim
                            id est laborum.<a class="more-link" href="@Url.Action("Single", "Blog")">Read more</a>
                        </p>
                    </div>
                    <!--end entry-->
                    <div class='entry blogentry'>
                        <div class="date">
                            <span class='day'>08</span> <span class='month'>NOV</span> <span class='year'>2008</span>
                        </div>
                        <!-- end date -->
                        <h2>
                            <a href="@Url.Action("Single", "Blog")">This is a sample blog post with long heading</a></h2>
                        <div class='post_data'>
                            <span class='categories'><a href="@Url.Action("Archive", "Blog")">Design News</a>, <a href='#'>Public
                                Interest</a></span> <span class='author'>posted by <a href="@Url.Action("Archive", "Blog")">Kriesi</a></span>
                        </div>
                        <!--end post data-->
                        <a href="../../Content/images/bigpicture5.jpg" rel='prettyPhoto'>
                            <img src="../../Content/images/mediumpicture.jpg" alt="" /></a>
                        <p>
                            Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in anim id est laborum.
                            <br />
                            Allamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in anim id est laborum.<a class="more-link" href="@Url.Action("Single", "Blog")">Read
                                more</a>
                        </p>
                        <!--end entry-->
                    </div>
                    <div class='entry blogentry'>
                        <div class="date">
                            <span class='day'>11</span> <span class='month'>JAN</span> <span class='year'>2007</span>
                        </div>
                        <!-- end date -->
                        <h2>
                            <a href="@Url.Action("Single", "Blog")">Another cool blog post</a></h2>
                        <div class='post_data'>
                            <span class='categories'><a href="@Url.Action("Archive", "Blog")">Design News</a>, <a href='#'>Public
                                Interest</a></span> <span class='author'>posted by <a href="@Url.Action("Archive", "Blog")">Kriesi</a></span>
                        </div>
                        <!--end post data-->
                        <p>
                            <a href="../../Content/images/bigpicture1.jpg" rel='prettyPhoto'>
                                <img src="../../Content/images/mediumpicture2.jpg" alt="" /></a> Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in anim id est laborum.
                            <br />
                            Allamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim
                            id est laborum.<a class="more-link" href="@Url.Action("Single", "Blog")">Read more</a>
                        </p>
                        <!--end entry-->
                    </div>
                    <div class='entry blogentry'>
                        <div class="date">
                            <span class='day'>08</span> <span class='month'>NOV</span> <span class='year'>2008</span>
                        </div>
                        <!-- end date -->
                        <h2>
                            <a href="@Url.Action("Single", "Blog")">Why doesn't Apple rebrand to Banana?</a></h2>
                        <div class='post_data'>
                            <span class='categories'><a href="@Url.Action("Archive", "Blog")">Design News</a>, <a href='#'>Public
                                Interest</a></span> <span class='author'>posted by <a href="@Url.Action("Archive", "Blog")">Kriesi</a></span>
                        </div>
                        <!--end post data-->
                        <p>
                            Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in anim id est laborum.
                            <br />
                            Allamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in anim id est laborum.<a class="more-link" href="@Url.Action("Single", "Blog")">Read
                                more</a>
                        </p>
                        <!--end entry-->
                    </div>
                    <div class="pagination">
                        <span class="current">1</span> <a class="inactive" href="#">2</a> <a class="inactive"
                            href="#">3</a> <a class="inactive" href="#">4</a> <a class="inactive" href="#">5</a>
                    </div>
                </div>
                <!-- end content -->
            </div>
            <!--end main-->
        </div>
        <!-- end #top -->

    </div><!-- end #wrapper -->

@Html.Partial("_Footer")
</body>
<script type="text/javascript">
    $("#blog").addClass("current");
</script>