@model Display.Models.Post
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id='subpage'>
    <div class='wrapper'>
        <div id="top">
            @Html.Partial("_Head")
            <div id="main">
                @Html.Partial("_Sidebar")
                <div id="content">
                    @Html.Partial("_Entry")
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="edit">
                            @Html.ActionLink("Edit", "Edit", new { objectId = Model.Id}, null)
                        </div>
                    }
                </div> <!-- end content -->
            </div> <!--end main-->
        </div> <!-- end #top -->
    </div> <!-- end wrapper -->
    @Html.Partial("_Footer")
</body>
<script type="text/javascript">
    $("#blog").addClass("current");
</script>
