<div class='wrapper' id='footerwrap'>
    <div id='footer'>
        <div class="box box_mini">
            <h4>
                Latest News</h4>
            <ul>
                @{
                    
                    var postRepository = new Display.Data.PostRepository();
                    var posts = postRepository.FindAll().ToList();
                    posts.Sort((x, y) => y.CreatedAt.CompareTo(x.CreatedAt));
                    var latest = posts.Take(5);
                        
                    foreach (var post in latest)
                    {
                        <li>@Html.ActionLink(post.Title, post.Url)</li>
                    }
                }
            </ul>
        </div>
        <div class="box box_mini">
            <h4>
                Pages</h4>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
                <li><a href="@Url.Action("Index", "Preview")">Preview</a></li>
                <li><a href="@Url.Action("Single", "Preview")">Screenshots</a></li>
                <li><a href="@Url.Action("Single", "Preview")">Videos</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
            </ul>
        </div>
        <div class="box box_mini">
            <h4>
                Miscellaneous</h4>
            <ul>
                <li><a href="@Url.Action("Page", "Home")">Register</a></li>
                <li><a href="@Url.Action("Page", "Home")">Log in</a></li>
                <li><a href="@Url.Action("Page", "Home")">Terms of Service</a></li>
                <li><a href="contact.php">Contact</a></li>
                <li><a href="@Url.Action("Page", "Home")">Site Map</a></li>
            </ul>
        </div>
        <div class="box box_custom_footer">
            <a href='Home/Contact' class='custom_button ie6fix rounded'><strong>Contact Form</strong><span>get
                in touch with us</span></a>
            <div id='sitesearch_footer'>
                <h4>
                    Search Site</h4>
                <form action="" id="searchform" method="get">
                <div>
                    <input type="text" class='rounded' id="s" name="s" value="" />
                    <input type="submit" value="." id="searchsubmit" class="button ie6fix" />
                </div>
                </form>
            </div>
            <ul class="social_bookmarks">
                <li class='rss'><a class='ie6fix' href="rss">RSS</a></li>
                <li class='facebook'><a class='ie6fix' href="http://www.facebook.com/pages/Wish/184932501563141">
                    Facebook</a></li>
                <li class='twitter'><a class='ie6fix' href="http://twitter.com/#!/wishcli">Twitter</a></li>
                <li class='flickr'><a class='ie6fix' href="http://www.flickr.com/photos/wishcli/">flickr</a></li>
            </ul>
        </div>
    </div>
    <!--end footer-->
</div>
