<div class='wrapper' id='footerwrap'>
    <div id='footer'>
        <div class="box box_mini">
            <h4>
                Latest News</h4>
            <ul>
                <li><a href="@Url.Action("Single", "Blog")">Our New Page is online</a></li>
                <li><a href="@Url.Action("Single", "Blog")">Flash Slider Released</a></li>
                <li><a href="@Url.Action("Single", "Blog")">Apple buys Microsoft</a></li>
                <li><a href="@Url.Action("Single", "Blog")">Adobe buys Macromedia</a></li>
            </ul>
        </div>
        <div class="box box_mini">
            <h4>
                Pages</h4>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Portfolio")">Portfolio</a></li>
                <li><a href="contact.php">Contact</a></li>
                <li><a href="@Url.Action("Page", "Home")">About Us</a></li>
                <li><a href="@Url.Action("PageFull", "Home")">Jobs</a></li>
                <li><a href="@Url.Action("Page", "Home")">Philosophy</a></li>
            </ul>
        </div>
        <div class="box box_mini">
            <h4>
                Template Files</h4>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Index</a></li>
                <li><a href="index_no3d.html">Index - Fading Slider</a></li>
                <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
                <li><a href="@Url.Action("Single", "Blog")">Single Blog Page</a></li>
                <li><a href="@Url.Action("Index", "Portfolio")">Portfolio</a></li>
                <li><a href="@Url.Action("Single", "Portfolio")">Single Portfolio Page</a></li>
                <li><a href="@Url.Action("Page", "Home")">Page</a></li>
                <li><a href="@Url.Action("PageFull", "Home")">Page Fullwidth</a></li>
                <li><a href="contact.php">Contact</a></li>
                <li><a href="@Url.Action("Archive", "Blog")">Archive</a></li>
            </ul>
        </div>
        <div class="box box_mini">
            <h4>
                Miscellaneous</h4>
            <ul>
                <li><a href="@Url.Action("Page", "Home")">Register</a></li>
                <li><a href="@Url.Action("Page", "Home")">Log in</a></li>
                <li><a href="@Url.Action("Page", "Home")">Terms of Service</a></li>
                <li><a href="contact.php">Contact</a></li>
                <li><a href="@Url.Action("Page", "Home")">Site Map</a></li>
            </ul>
        </div>
        <div class="box box_custom_footer">
            <a href='contact.php' class='custom_button ie6fix rounded'><strong>Contact Form</strong><span>get
                in touch with us</span></a>
            <div id='sitesearch_footer'>
                <h4>
                    Search Site</h4>
                <form action="" id="searchform" method="get">
                <div>
                    <input type="text" class='rounded' id="s" name="s" value="" />
                    <input type="submit" value="." id="searchsubmit" class="button ie6fix" />
                </div>
                </form>
            </div>
            <p>
                This site uses valid HTML and CSS. All content Copyright &copy; 2010 DISPLAY, Inc</p>
            <ul class="social_bookmarks">
                <li class='rss'><a class='ie6fix' href="#">RSS</a></li>
                <li class='facebook'><a class='ie6fix' href="#">Facebook</a></li>
                <li class='twitter'><a class='ie6fix' href="#">Twitter</a></li>
                <li class='flickr'><a class='ie6fix' href="#">flickr</a></li>
            </ul>
        </div>
    </div>
    <!--end footer-->
</div>
<!--<div</div></body></html> class='wrapper' id='footerwrap'> end #wrapper -->
