<div id="head">
    <h1 class="logo ie6fix">
        <a href="@Url.Action("Index", "Home")" title="">Display</a></h1>
    <ul id="nav">
        <li id="home"><a href="@Url.Action("Index", "Home")"><strong>Home</strong><span>wish home</span></a></li>
        <li id="blog"><a href="@Url.Action("Index", "Blog")"><strong>Blog</strong><span>the latest news</span></a></li>
        <li id="portfolio"><a href="@Url.Action("Index", "Preview")"><strong>Preview</strong><span>learn more</span></a>
            <ul>
                <li><a href="@Url.Action("Index", "Preview")">All</a></li>
                <li><a href="@Url.Action("Single", "Preview")">Screenshots</a></li>
                <li><a href="@Url.Action("Single", "Preview")">Videos</a></li>
            </ul>
        </li>
        <li><a href="contact.php"><strong>Contact</strong><span>send us an E-mail</span></a></li>
    </ul>
</div>
<!-- end #head -->
