<div class="box box_small">
    <h3>
        Pages</h3>
    <ul>
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
        <li><a href="@Url.Action("Index", "Preview")">Preview</a></li>
        <li><a href="@Url.Action("Screenshots", "Preview")">Screenshots</a></li>
        <li><a href="@Url.Action("Videos", "Preview")">Videos</a></li>
        <li><a href="Home/Contact">Contact</a></li>
    </ul>
</div>
<!--end box-->