<div class="box box_small">
    <h3>
        Submenu</h3>
    <ul>
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Page", "Home")">About</a></li>
        <li><a href="@Url.Action("PageFull", "Home")">Philosophy</a></li>
        <li><a href="@Url.Action("Index", "Portfolio")">Our Work</a></li>
        <li><a href="@Url.Action("PageFull", "Home")">The company</a>
            <ul>
                <li><a href="@Url.Action("Page", "Home")">Team</a></li>
                <li><a href="@Url.Action("PageFull", "Home")">Jobs</a></li>
                <li><a href="contact.php">Contact</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--end box-->
