@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id='subpage' class='fullwidth'>
    <div class='wrapper'>
        <div id="top">
            @Html.Partial("_Head")
            <div id="main">
                <div id="content">
                    <div class='entry'>
                        <div class="box box_small box1">
                            <a href="@Url.Content("~/Content/images/bigpicture5.jpg")" rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium9.jpg")" alt="" /></a>
                            <h3>
                                <a href="single.html">Funky Town Picture</a></h3>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo conse. <a class="more-link" href="single.html">Read more</a>
                            </p>
                        </div>
                        <!-- end .box -->
                        <div class="box box_small box2">
                            <a href="http://vimeo.com/moogaloop.swf?width=800&amp;height=450&amp;flashvars=clip_id=1084537&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1"
                                rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium12.jpg")" alt="" /></a>
                            <h3>
                                <a href="single.html">Video: Big Buck Bunny</a></h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. <a class="more-link" href="single.html">Read more</a>
                            </p>
                        </div>
                        <!-- end .box -->
                        <div class="box box_small box3">
                            <a href="@Url.Content("~/Content/images/bigpicture2.jpg")" rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium7.jpg")" alt="" /></a>
                            <h3>
                                <a href="single.html">Kids Running</a></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. <a class="more-link" href="single.html">
                                    Read more</a>
                            </p>
                        </div>
                        <!-- end .box -->
                        <!--end entry-->
                    </div>
                    <div class='entry'>
                        <div class="box box_small box1">
                            <a href="@Url.Content("~/Content/images/bigpicture3.jpg")" rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium6.jpg")" alt="" /></a>
                            <h3>
                                <a href="single.html">Envato Website</a></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. <a class="more-link" href="single.html">
                                    Read more</a>
                            </p>
                        </div>
                        <!-- end .box -->
                        <div class="box box_small box2">
                            <a href="@Url.Content("~/Content/images/bigpicture4.jpg")" rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium5.jpg")" alt="" /></a>
                            <h3>
                                <a href="single.html">Mustberigged</a></h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. <a class="more-link" href="single.html">Read more</a>
                            </p>
                        </div>
                        <!-- end .box -->
                        <div class="box box_small box3">
                            <a href="http://vimeo.com/moogaloop.swf?width=800&amp;height=450&amp;flashvars=clip_id=1084537&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1"
                                rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium11.jpg")" alt="" /></a>
                            <h3>
                                <a href="single.html">Video: Big Buck Bunny</a></h3>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo conse. <a class="more-link" href="single.html">Read more</a>
                            </p>
                        </div>
                        <!-- end .box -->
                        <!--end entry-->
                    </div>
                    <div class='entry'>
                        <div class="box box_small box1">
                            <a href="http://vimeo.com/moogaloop.swf?width=800&amp;height=450&amp;flashvars=clip_id=1084537&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1"
                                rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium10.jpg")" alt="" /></a>
                            <h3>
                                <a href="single.html">Video: Another Bunny</a></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore
                                et dolore magna aliqua. <a class="more-link" href="single.html">Read more</a>
                            </p>
                        </div>
                        <!-- end .box -->
                        <div class="box box_small box2">
                            <a href="@Url.Content("~/Content/images/bigpicture1.jpg")" rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium8.jpg")" alt="" /></a>
                            <h3>
                                <a href="single.html">Twicet Portfolio Template</a></h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.<a class="more-link" href="single.html">Read more</a>
                            </p>
                        </div>
                        <!-- end .box -->
                        <div class="box box_small box3">
                            <a href="@Url.Content("~/Content/images/bigpicture3.jpg")" rel='prettyPhoto[portfolio]'>
                                <img src="@Url.Content("~/Content/images/medium6.jpg")" alt="" /></a>
                            <h3>
                                <a href="single.html">Envato Network</a></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt
                                ut labore et dolore magna aliqua. <a class="more-link" href="single.html">Read more</a>
                            </p>
                        </div>
                        <!-- end .box -->
                        <!--end entry-->
                    </div>
                    <div class="pagination">
                        <span class="current">1</span> <a class="inactive" href="#">2</a> <a class="inactive"
                            href="#">3</a> <a class="inactive" href="#">4</a> <a class="inactive" href="#">5</a>
                        <a class="inactive" href="#">6</a> <a class="inactive" href="#">7</a>
                    </div>
                </div>
                <!-- end content -->
            </div>
            <!--end main-->
        </div>
        <!-- end #top -->
    </div>
@Html.Partial("_Footer")
</body>
<script type="text/javascript">
    $('#portfolio').addClass("current");
</script>