@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*/Portfolio/Single*@

<body id='subpage'>

<div class='wrapper'>

	<div id="top">
	
        @Html.Partial("_Head")
		
		<div id="main">
			<div id='sidebar'>
                @Html.Partial("_Submenu")
                @Html.Partial("_Latest")
			</div><!-- end #sidebar -->
			
			<div id="content">
			
				<div class='entry'>
					<h2><a href="@Url.Action("Single", "Portfolio")">Twicet Portfolio Theme</a></h2>
						<a href="../../Content/images/bigpicture1.jpg" rel='prettyPhoto'><img src="../../Content/images/mediumpicture2.jpg" alt="" /></a>
						<p>
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
						<br/>
						Allamco laboris nisi ut aliquip ex ea commodo consequat.
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
						</p>
						<h3>Template Information</h3>
						<p>
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
						<br/>

						Allamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>	
								
				<!--end entry-->
				</div>
				
				<div class='entry'>
					<div class="box box_small box1">
						<a href="../../Content/images/bigpicture1.jpg" rel='prettyPhoto[portfolio]'><img src="../../Content/images/medium8.jpg" alt="" /></a>
						<h3><a href="@Url.Action("Single", "Portfolio")">Subpage 1</a></h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse.
						</p>
						
					</div><!-- end .box -->
					
					<div class="box box_small box3">
						<a href="../../Content/images/bigpicture1.jpg" rel='prettyPhoto[portfolio]'><img src="../../Content/images/medium8.jpg" alt="" /></a>
						<h3><a href="@Url.Action("Single", "Portfolio")">Subpage 2</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div><!-- end .box -->
				
				<!--end entry-->
				</div>
	
			</div><!-- end content -->
			
		</div><!--end main-->
		
	</div><!-- end #top -->
	
</div><!-- end #wrapper -->

@Html.Partial("_Footer")

</body>